body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: white;
}

section {
    width: 100%;
    background-color: white;
    padding: 10px 0;
}

.logo img {
    width: 100px;
}

.company {
    font-family: "Playfair Display", serif;
    color: #919197;
    margin-right: auto;
}

.company a {
    text-decoration: none;
    color: #919197;
    font-size: 1.5em;
    font-weight: bold;
}
.contact-info a {
    color: rgb(154, 152, 152); /* Default color for links */
    text-decoration: none; /* Remove underline */
}

.contact-info a[href^="mailto:jayalakshmiengg5@gmail.com"] {
    color: rgb(154, 152, 152);
}

.contact-info a[href^="https://wa.me/919885218817"] {
    color: rgb(154, 152, 152);
}

.contact-info a:hover,
.contact-info a[href^="https://wa.me/919885218817"]:hover,
.contact-info a[href^="mailto:jayalakshmiengg5@gmail.com"]:hover {
    color: black; /* Color on hover */
    text-decoration: none; /* Ensure no underline on hover */
}

.contact-info {
    display: flex;
    align-items: center;
    color: rgb(154, 152, 152);
}

.contact-info:hover {
    color: #070708;
}

.contact-info i {
    margin-right: 5px;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.contact-info div {
    margin-right: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
nav {
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #0073e6;
}

.nav-links li .dropbtn {
    position: relative;
}

.nav-links li .dropbtn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #0073e6;
    bottom: -5px;
    left: 0;
    border-radius: 5px;
    transition: width 0.3s ease-in;
}

.nav-links li .dropbtn:hover::after {
    width: 100%;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #52a2f1;
}

/* Full width image with overlay text */
#banner-box {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img-wrap img {
    width: 100%;
    height: 500px;
}

.text-wrap {
    position: absolute;
    bottom: 2200px;
    width: 30%;
    left:20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 10px 0;
    text-align: center;
}

.text-wrap h1 {
    color: white;
    font-size: 2em;
    margin: 0;
}

.breadcrumb {
        background-color: #f5f7f8;
        padding: 10px 50px;
        display: flex;
        justify-content:left;
        align-items: center;
    }

    .breadcrumb a {
        text-decoration: none;
        color: #6c757d;
        font-weight: bold;
    }

    .breadcrumb a:hover {
        color: #0098cd;
    }

    .breadcrumb span {
        color: #6c757d;
        margin-left: 10px;
        
    }





    /* Main content section */
/*product cotainer styling*/
.product-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .product-description {
        padding: 40px 50px;
        background-color: #f8f9fa;
        width: 60%;
    }

    .product-description h2 {
        color: #0098cd;
        font-weight: bold;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .product-description p {
        font-size: 1.1em;
        color: #6c757d;
        line-height: 1.7em;
    }

    .buttons {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    .btn {
        text-decoration: none;
        padding: 10px 20px;
        border: 2px solid #0098cd;
        border-radius: 4px;
        color: #0098cd;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn:hover {
        background-color: #0098cd;
        color: #fff;
    }

    /* Product Image */
    .product-image img {
        width: 350px;
        height: auto;
        border-radius: 8px;
        padding-bottom: 600px;
    }

    /* Zoom Effect for Image */
    .product-image {
        position: relative;
        overflow: hidden;
        
    }

    .product-image img {
        padding-top: 50px;
        padding-left: 10px;
        transition: transform 0.5s ease-in-out;
    }

    .product-image img:hover {
        padding-top: 50px;
        padding-left: 10px;
        transform: scale(1.5);
    }


    /*Table Cat*/
.wire-description{
padding-top: 14px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
color: #333;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
display: block;
unicode-bidi: isolate;
box-sizing: border-box;
margin:0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;

}
table {
display: table;
text-indent: initial;
unicode-bidi: isolate;
border-spacing:2px;
-webkit-border-horizontal-spacing: 2px;
-webkit-border-vertical-spacing: 2px;
border-color: grey;
border-top-color: grey;
border-right-color: grey;
border-bottom-color: grey;
border-left-color: grey;
}
tr{
display: table-row;
vertical-align: inherit;
unicode-bidi: isolate;
border-color:inherit;
border-top-color: grey;
border-right-color: grey;
border-bottom-color: grey;
border-left-color: grey;

}
td {
display: table-cell;
unicode-bidi: isolate;
padding: 10px;
border-bottom: 1px solid #ccc;
}

.tbrand{
width: 40%;
color: #848484
}
.tbrand1{
width: 60%;
}
.color6{
color: #000;
}
.dsf{
display: flex;
}

.pr{
position: relative;
}
.wire-right{
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
}

/*footer styling*/
footer {
    background-color: #0083C9;
    color: white;
    padding: 40px 20px;
    text-align: left;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info-f {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.contact-info-f p {
    margin: 5px 0;
}

.contact-info-f a {
    color: white;
    text-decoration: none;
}

.contact-info-f i {
    margin-right: 5px;
}

.social-media {
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin-right: 15px;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ccc;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 20px 0;
}


footer p {
margin-top: 20px;
font-size: 0.9em;
}
/*footer section*/
.footer-container {
    display: flex;
    gap: 10px; /* Reduced space between Contact Us and Applications */
    align-items: flex-start;
    flex-wrap: wrap; /* Ensures the sections wrap if screen width is limited */
}

.footer-section {
    flex: 1; /* Makes each section take up equal space */
    max-width: 180px; /* Slightly smaller width for a more compact layout */
}

.footer-section h4 {
    font-size: 1.1em; /* Slightly smaller font for compactness */
    margin-bottom: 8px;
    color: #f4f4f4;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Removes any extra margin for a tighter layout */
}

.footer-section ul li {
    margin: 3px 0; /* Reduced space between list items */
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 0.9em; /* Smaller font size for compact layout */
}

.footer-section ul li a:hover {
    color: #fff;
}@media (max-width: 768px) {
.nav-links {
flex-direction: column; /* Stack links vertically */
align-items: center; /* Center align */
}

.category-card {
width: 90%; /* Make cards full width on small screens */
}
}

/*zoom effct*/

.product-image {
position: relative;
width: 400px; /* Adjust based on your layout */
height: 400px; /* Adjust based on your layout */
overflow: hidden;
width: 400px;
border-radius: 8px;
padding-bottom: 600px;
}

.main-img {
width: 100%;
height: auto;
transition: transform 0.5s ease, opacity 0.5s ease;
}

.zoom-img {
position: absolute;
background-image: url("C:\Users\jpadd\OneDrive\Desktop\Jayalakshmi Website\submesible-pump-2hp30stage-crn-1706949947830-sku-1095-0-500x500.webp");
background-size: 500%; /* Adjust for zoom level */
background-repeat: no-repeat;
width: 100%;
height: 100%;
display: none;
z-index: 10;
border: 1px solid #ccc;
transition: display 0.5s ease; /* Smooth transition for zoom display */
}

.product-image:hover .main-img {
opacity: 0.6; /* Main image opacity */
}

.product-image:hover .zoom-img {
display: block; /* Show zoom on hover */
cursor: zoom-in; /* Cursor indicates zoom */
transition: opacity 0.5s ease; /* Smooth transition for opacity if added */
}
/* style for popup in the request quote */
/* Popup Form Styles */
.popup {
display: none; /* Make sure the popup is hidden by default */
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
justify-content: center;
align-items: center;
}

.popup-content {
background-color: white;
padding: 20px;
border-radius: 5px;
width: 300px;
position: relative;
}

.close {
position: absolute;
top: 10px;
right: 15px;
font-size: 20px;
cursor: pointer;
}
/* syles for requestabtn */

/* Styling for the popup container */
.popup {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
overflow: auto;
}

.popup-content {
background-color: #fff;
margin: 5% auto;
padding: 20px;
border: 1px solid #888;
width: 400px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
position: relative;
}

/* Close button */
.close {
position: absolute;
top: 10px;
right: 15px;
color: #aaa;
font-size: 24px;
font-weight: bold;
cursor: pointer;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

/* Form styling */
form {
display: flex;
flex-direction: column;
}

label {
margin-bottom: 8px;
font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
width: 100%;
padding: 10px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

input[readonly] {
background-color: #f9f9f9;
}

textarea {
resize: none;
}

/* Submit button */
button[type="submit"] {
background-color: #0098cd;
color: white;
padding: 10px;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}

button[type="submit"]:hover {
background-color: #133946;
}